.fondoSpinner {
    display: none;
    z-index: 110;
    opacity: .5;
    background-color: rgb(53, 53, 53);
}

.spinner {
    display: none;
    justify-self: center;
    align-self: center;
    z-index: 120;
    width: 100px;
    height: 100px;
    animation: spin 1s ease infinite;
}

.spinner img {
    width: 100px;
    height: 100px;
}

.activarSpinner {
    display: block;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}